button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.rodller-button,
.rodller-load-more > a,
.woocommerce ul.products li.product .onsale,
.woocommerce span.onsale,
.woocommerce #respond input#submit,
.woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button,
.woocommerce #respond input#submit.alt,
.woocommerce a.button.alt,
.woocommerce button.button.alt,
.woocommerce input.button.alt,
.woocommerce #respond input#submit.disabled, .woocommerce #respond input#submit:disabled, .woocommerce #respond input#submit:disabled[disabled], .woocommerce a.button.disabled, .woocommerce a.button:disabled, .woocommerce a.button:disabled[disabled], .woocommerce button.button.disabled, .woocommerce button.button:disabled, .woocommerce button.button:disabled[disabled], .woocommerce input.button.disabled, .woocommerce input.button:disabled, .woocommerce input.button:disabled[disabled]{
  display: inline-block;
  padding: 10px 25px;
  text-decoration: none;
  cursor: pointer;
  outline: none;
  border: 1px solid;
  @include transition();
  &.rodller-button-outline{
    background-color: transparent;
  }
}

.woocommerce ul.products li.product .button,
.woocommerce ul.products li.product .onsale,
.woocommerce span.onsale,
.woocommerce button.button,
.woocommerce a.button{
  font-weight: normal;
}

.woocommerce ul.products li.product .onsale,
.woocommerce span.onsale{
  min-height: initial;
  min-width: initial;
  padding: 5px 15px;
  line-height: 1.1;
}

.woocommerce ul.products li.product .button.loading{
  padding-right: 40px;
}

button:active, button:focus,
input[type="button"]:active,
input[type="button"]:focus,
input[type="reset"]:active,
input[type="reset"]:focus,
input[type="submit"]:active,
input[type="submit"]:focus {
  border-color: #aaa #bbb #bbb;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
  width: 100%;
  padding: 10px 15px;
  background: transparent;
  border: 1px solid #eee;
  outline: none;
  -webkit-appearance: none;
}

input[type="number"]{
  padding: 10px 0;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
textarea:focus {
  color: #111;
}

select {
  padding: 10px 15px;
  border: 1px solid #eee;
  &:focus,  &:active{
    outline: none;
  }
}

textarea {
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  min-height: 100px;
  padding: 15px;
  border-color: #eee;
}

label {
  display: block;
  font-size: 1.3rem;
}

/* Spin Buttons modified */
input[type="number"].mod::-webkit-outer-spin-button,
input[type="number"].mod::-webkit-inner-spin-button {
  -webkit-appearance: none;
  background: #FFF url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAYAAADgkQYQAAAAKUlEQVQYlWNgwAT/sYhhKPiPT+F/LJgEsHv37v+EMGkmkuImoh2NoQAANlcun/q4OoYAAAAASUVORK5CYII=) no-repeat center center;
  width: 1em;
  border-left: 1px solid #BBB;
  opacity: .5; /* shows Spin Buttons per default (Chrome >= 39) */
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
}
input[type="number"].mod::-webkit-inner-spin-button:hover,
input[type="number"].mod::-webkit-inner-spin-button:active{
  box-shadow: 0 0 2px #0CF;
  opacity: .8;
}

/* Override browser form filling */
input:-webkit-autofill {
  background: black;
  color: red;
}